:root {
	--left: 15em;
	--padding: .5em;

	--searchheight: 2em;
	--titleheight: 10em;
}

body {
	margin: 0;
	padding: 0;
	background: #2d2d2d;
	color: #aaaaaa;
}

a {
	transition: all 0.5s ease;
	color: #0a92c8;
	text-decoration: none;
}

a:hover {
	color: #8bddfe;
}

.search {
	text-align: center;
	padding: var(--padding);
	margin-bottom: 1em;
}

.content {
	/* Center the container */
	position: absolute;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, 0);

	display: inline-block;
	text-align: center;
	padding: var(--padding);
	top: var(--searchheight);
}

#title {
	text-align: center;
}

.ImageContainer {
	padding: var(--padding);
}

.LeftButton, .RightButton {
	font-size: 200%;
}

.searchResults {
	list-style: none;
}

.searchResult {
	margin-top: 5em;
}

.searchResult a {
	display: block;
}

.searchResult a img {
	vertical-align: middle;
}

.searchResult a span {
	margin-right: 2em;
	display: inline-block;
	width: 30%;
	text-align: center;
	font-size: x-large;
}
