<!DOCTYPE html>
<html>
<head>
	<title>xkcd - {{ comic.title }}</title>
	<link rel="shortcut icon" href="/static/icon.ico"/>
	<link rel="stylesheet" type="text/css" href="/static/style.css"/>
</head>
<body>
<div class="search">
<form action="/search" method="GET">
	<input type="text" name="q"/>
	<input type="submit" value="Search"/>
</form>
</div>

<div class="content">
	<a class="LeftButton" href="/comic/?id=0">⇤</a>
	<a class="LeftButton" href="/comic/?id={{ id - 1 }}">←</a>
	<a class="RandomButton" href="/random">Random</a>
	<a class="RightButton" href="/comic/?id={{ id + 1 }}">→</a>
	<a class="RightButton" href="/comic/?id={{ max_id }}">⇥</a>

	<h2 id="ComicTitle" title="{{ comic.year }}-{{ comic.month }}-{{ comic.day }}">{{ comic.title }}</h2>
	<div class="ImageContainer">
		<img id="image" src="/comic/{{ img_path }}" title="{{ comic.alt }}" alt="{{ comic.title }}"/>
	</div>
</div>
</body>
</html>
