<!DOCTYPE html>
<html>
<head>
	<title>xkcd - {{ comic.title }}</title>
	<link rel="shortcut icon" href="/static/icon.ico"/>
	<link rel="stylesheet" type="text/css" href="/static/style.css"/>
	<script async src="/static/script.js"></script>
</head>
<body>
<div class="search">
<form action="/search" method="GET">
	<input type="text" name="q"/>
	<input type="submit" value="Search"/>
</form>
</div>

<div class="content">
	{% if id != prev %}
		<a class="LeftButton" href="/comic/?id=0">⇤</a>
		<a class="LeftButton" id="prev" href="/comic/?id={{ prev }}">←</a>
	{% endif %}
	<a class="RandomButton" href="/random">Random</a>
	{% if id != next %}
		<a class="RightButton" id="next" href="/comic/?id={{ next }}">→</a>
		<a class="RightButton" href="/comic/?id={{ max_id }}">⇥</a>
	{% endif %}

	<h2 id="ComicTitle" title="{{ comic.year }}-{{ comic.month }}-{{ comic.day }}">{{ comic.title }}</h2>
	<div class="ImageContainer">
		<img id="image" src="/comic/{{ img_path }}" title="{{ comic.alt }}" alt="{{ comic.title }}"/>
	</div>
</div>
</body>
</html>
