<!DOCTYPE html>
<html>
<head>
	<title>xkcd</title>
	<link rel="stylesheet" type="text/css" href="static/style.css"/>
</head>
<body>
<div class="search">
<form action="search" method="GET">
	<input type="text" name="q"/>
	<input type="submit" value="Search"/>
</form>
</div>

<div class="content">
	<a class="LeftButton" href="javascript:previous()">←</a>
	<a class="RandomButton" href="javascript:random()">Random</a>
	<a class="RightButton" href="javascript:next()">→</a>

	<h2 id="ComicTitle">Titel</h2>
	<div class="ImageContainer">
		<img id="image"/>
	</div>
</div>
</body>
</html>
